.remark-code {
  font-size: 80%;
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 400px;
  display: block;
}

.left-50 {
  width: 49%;
  float: left;
}

.right-50 {
  width: 49%;
  float: right;
}

.cover {
  color: #ffffff;
  padding-left: 250px;
}

.tiny {
  font-size: 10px;
}

.scriptsize {
  font-size: 15px;
}

.footnotesize {
  font-size: 18px;
}

.small {
  font-size: 20px;
}

.font-16 {
  font-size: 16px;
}

.left-75 {
  width: 74%;
  float: left;
}

.right-25 {
  width: 24%;
  float: right;
}

.left-66 {
  width: 66%;
  float: left;
}

.left-33 {
  width: 33%;
  float: left;
}

.center-33{
  width: 33%;
  float: left;
}

.right-33 {
  width: 33%;
  float: right;
}

.right-66 {
  width: 66%;
  float: right;
}

.left-40 {
  width: 39%;
  float: left;
}

.right-60 {
  width: 59%;
  float: right;
}

.left-60 {
  width: 59%;
  float: left;
}

.right-40 {
  width: 39%;
  float: right;
}

table, th, td {
  padding: 10px;
  border-spacing: 0px;
  font-size: 95%
}

table{
  width: 100%;
  margin: 10px auto;
  border-spacing: 0px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

table.table-tight th, td{
  padding: 4px;
  border-spacing: 0px;
  font-size: 85%
}

th{
  border-bottom: 1px solid black;
}

.scroll {
  overflow-y: scroll;
  height: 500 px;
  max-height: 500px;
  display: block;
}

figure {
  display: block;
  margin: auto;
  padding: 0px;
  border: 0px;
}


::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
