.remark-code {
  font-size: 80%;
}

.left-50 {
  width: 49%;
  float: left;
}

.right-50 {
  width: 49%;
  float: right;
}

.cover {
  color: #ffffff;
  padding-left: 250px;
}

.small {
  font-size: 10px;
}

.font-15 {
  font-size: 18px;
}

.left-75 {
  width: 74%;
  float: left;
}

.right-25 {
  width: 24%;
  float: right;
}

.left-66 {
  width: 66%;
  float: left;
}

.right-33 {
  width: 33%;
  float: right;
}

.left-33 {
  width: 33%;
  float: left;
}

.right-66 {
  width: 66%;
  float: right;
}

.left-40 {
  width: 39%;
  float: left;
}

.right-60 {
  width: 59%;
  float: right;
}

.left-60 {
  width: 59%;
  float: left;
}

.right-40 {
  width: 39%;
  float: right;
}

table, th, td {
  padding: 10px;
  border-spacing: 0px;
  font-size: 95%
}

table{
  border-spacing: 0px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

table.table-tight th, td{
  padding: 1px;
  border-spacing: 0px;
  font-size: 85%
}

th{
  border-bottom: 1px solid black;
}

.scroll {
  overflow-y: scroll;
  height: 500 px;
  max-height: 500px;
  display: block;
}

figure {
  display:table;
  margin:14px;
  padding:7px;
  width:14px;
}

/* Sets up the scrolbar to be always viewable */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
