In this example, we will test building and running tests for a MOOSE-based application. You should run this example if you are using this development environment to develop a MOOSE-based application.

Run the following, replacing the directory in the first command (`/path/to/app`) to the directory that your MOOSE-based application is cloned to:

```bash
cd /path/to/app
make -j {{moose_jobs}}
./run_tests -j {{moose_jobs}}
```

The above will compile the MOOSE-based application and run its tests.
