BasedOnStyle: LLVM
CommentPragmas: '^/'
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
SpacesInSquareBrackets: false
TabWidth: 2
ColumnLimit: 0
UseTab: Never
PointerAlignment: Middle
#ReflowComments: false
BreakBeforeBraces: Allman
IndentCaseLabels: true
#SortIncludes: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: TopLevel
AlwaysBreakTemplateDeclarations: true

