[submodule "libmesh"]
    path = libmesh
    url = ../../libMesh/libmesh
    ignore = dirty
[submodule "large_media"]
    path = large_media
    url = ../../idaholab/large_media
[submodule "petsc"]
    path = petsc
    url = https://gitlab.com/petsc/petsc.git
[submodule "modules/chemical_reactions/contrib/thermochimica"]
    path = modules/chemical_reactions/contrib/thermochimica
    url = https://github.com/ORNL-CEES/thermochimica.git
    update = none
[submodule "framework/contrib/wasp"]
	path = framework/contrib/wasp
	url = https://code.ornl.gov/neams-workbench/wasp.git
