[submodule "libmesh"]
    path = libmesh
    url = ../../libMesh/libmesh
    ignore = dirty
[submodule "large_media"]
    path = large_media
    url = ../../idaholab/large_media
[submodule "petsc"]
    path = petsc
    url = https://bitbucket.org/petsc/petsc
