/conda @loganharbour @milljm @cticenhour
/docker_ci @loganharbour
/m4 @lindsayad

/COPYING @permcody
/COPYRIGHT @permcody
/LICENSE @permcody
/README.md @permcody
/CODEOWNERS @lindsayad

/.coverage @loganharbour @permcody
/.gitmodules @permcody
/aclocal.m4 @lindsayad
/conf_vars.mk.in @lindsayad
/configure @lindsayad
/configure.ac @lindsayad

/.github @permcody

/libmesh @roystgnr @lindsayad @cticenhour @milljm @loganharbour
/petsc @lindsayad @cticenhour @milljm @loganharbour

/framework/include @lindsayad
/framework/src @lindsayad
/framework/*/base @roystgnr @lindsayad
/framework/*/base/MeshGeneratorSystem* @loganharbour @lindsayad
/framework/*/dampers @GiudGiud @lindsayad
/framework/*/executioners/*Solve* @GiudGiud @lindsayad
/framework/*/materials/Derivative* @dschwen @lindsayad
/framework/*/materials/Material* @roystgnr @loganharbour @lindsayad
/framework/*/materials/Parsed* @dschwen @lindsayad
/framework/*/mesh @roystgnr @GiudGiud @lindsayad
/framework/*/meshgenerators @roystgnr @GiudGiud @lindsayad
/framework/*/multiapps @GiudGiud @lindsayad
/framework/*/loops @GiudGiud @lindsayad
/framework/*/outputs @roystgnr @lindsayad
/framework/*/postprocessors @GiudGiud @lindsayad
/framework/*/restart @loganharbour @lindsayad
/framework/*/reporters @loganharbour @zachmprince @lindsayad
/framework/*/samplers @zachmprince @lindsayad
/framework/*/systems @roystgnr @lindsayad
/framework/*/timeintegrators @GiudGiud @lindsayad
/framework/*/timesteppers @GiudGiud @lindsayad
/framework/*/transfers @GiudGiud @roystgnr @lindsayad
/framework/*/utils/Units* @dschwen @lindsayad
/framework/*/*/*Jump* @roystgnr @lindsayad
/framework/*/*/*Side* @roystgnr @lindsayad

/modules/contact @bwspenc @lindsayad @recuero
/modules/doc/content/getting_started/installation @milljm @loganharbour @cticenhour
/modules/doc/content/newsletter @cticenhour
/modules/doc/content/sqa_reports.yml @GiudGiud
/modules/electromagnetics @cticenhour
/modules/external_petsc_solver @lindsayad
/modules/fluid_properties @joshuahansel @GiudGiud
/modules/fsi @lindsayad
/modules/functional_expansion_tools @lindsayad @GiudGiud
/modules/heat_conduction @lindsayad
/modules/heat_transfer @lindsayad
/modules/navier_stokes @lindsayad @GiudGiud @grmnptr
/modules/optimization @zachmprince @dschwen
/modules/phase_field @dschwen
/modules/porous_flow @cpgr
/modules/ray_tracing @loganharbour
/modules/rdg @joshuahansel @lindsayad
/modules/reactor @GiudGiud @loganharbour @roystgnr
/modules/scalar_transport @lindsayad
/modules/solid_properties @joshuahansel
/modules/stochastic_tools @zachmprince @grmnptr
/modules/solid_mechanics @bwspenc @dschwen @jiangwen84
/modules/solid_mechanics/*/lagrangian @bwspenc @dschwen @jiangwen84 @hugary1995
/modules/solid_mechanics/*/materials/cohesive_zone_model @bwspenc @dschwen @jiangwen84 @hugary1995
/modules/solid_mechanics/*/interfacekernels @bwspenc @dschwen @jiangwen84 @hugary1995
/modules/solid_mechanics/*/materials/crystal_plasticity @bwspenc @dschwen @jiangwen84 @sapitts
/modules/thermal_hydraulics @joshuahansel
/modules/xfem @bwspenc @jiangwen84

/python/MooseDocs @cticenhour
/python/moosesqa @cticenhour
/python/TestHarness @loganharbour @milljm

/scripts/hpc_proxy.pac @loganharbour
/scripts/configure_petsc.sh @cticenhour @milljm @loganharbour
/scripts/update_and_rebuild_petsc.sh @cticenhour @milljm @loganharbour
/scripts/update_and_rebuild_petsc_alt.sh @cticenhour @milljm @loganharbour
/scripts/configure_libmesh.sh @cticenhour @milljm @loganharbour @roystgnr
/scripts/update_and_rebuild_libmesh.sh @cticenhour @milljm @loganharbour @roystgnr

/test @lindsayad
