### If you change these versions, change also conda/wasp/*, conda/seacas/*
moose_cmake:
  - cmake 4

moose_cc:
  - gcc 14.3.0 h0dff253_17                                  # [linux]
  - clang 19.1.7 default_h1323312_7                         # [not arm64 and osx]
  - clang 19.1.7 default_hf9bcbb7_7                         # [arm64]

### If you change these versions, change also conda/wasps/*, conda/seacas/*
moose_cxx:
  - gxx 14.3.0 h76987e4_17                                  # [linux]
  - clangxx 19.1.7 default_h9089c59_7                       # [not arm64 and osx]
  - clangxx 19.1.7 default_hc995acf_7                       # [arm64]

### If you change these versions, change also conda/mpi/*
moose_gfortran:
  - gfortran 14.3.0 h76987e4_17                             # [linux]
  - gfortran 14.3.0 hcc3c99d_0                              # [not arm64 and osx]
  - gfortran 14.3.0 h3ef1dbf_0                              # [arm64]

### Cmake requires these be installed in order to "find" compilers
moose_ccompiler:
  - gcc_linux-64                                            # [linux]
  - clang_osx-64                                            # [not arm64 and osx]
  - clang_osx-arm64                                         # [arm64]

moose_cxxcompiler:
  - gxx_linux-64                                            # [linux]
  - clangxx_osx-64                                          # [not arm64 and osx]
  - clangxx_osx-arm64                                       # [arm64]

#### Darwin SDK SYSROOT
CONDA_BUILD_SYSROOT:                                        # [osx]
  - /opt/MacOSX14.5.sdk                                     # [osx]

macos_min_version:                                          # [osx]
  - 14.5                                                    # [osx]

macos_machine:                                              # [osx]
  - x86_64-apple-darwin13.4.0                               # [not arm64 and osx]
  - arm64-apple-darwin22.6.0                                # [arm64]

MACOSX_DEPLOYMENT_TARGET:                                   # [osx]
  - 14.5                                                    # [osx]
