mpi:
  - mpich
  - openmpi

moose_petsc:
  - moose-petsc 3.24.4 mpich_0
  - moose-petsc 3.24.4 openmpi_0

moose_libmesh_vtk:
  - moose-libmesh-vtk 9.6.0 mpich_0
  - moose-libmesh-vtk 9.6.0 openmpi_0

zip_keys:
  - mpi
  - moose_petsc
  - moose_libmesh_vtk

#### Darwin SDK SYSROOT
CONDA_BUILD_SYSROOT:                                        # [osx]
  - /opt/MacOSX14.5.sdk                                     # [osx]

macos_min_version:                                          # [osx]
  - 14.5                                                    # [osx]

macos_machine:                                              # [osx]
  - x86_64-apple-darwin13.4.0                               # [not arm64 and osx]
  - arm64-apple-darwin22.6.0                                # [arm64]

MACOSX_DEPLOYMENT_TARGET:                                   # [osx]
  - 14.5                                                    # [osx]
