Now that you have a working MOOSE, proceed to 'New Users' to begin your tour of MOOSE!

!content pagination use_title=True
                    previous=installation/manual_installation_{{COMPILER}}.md
                    next=getting_started/manual_{{COMPILER}}_new_users.md
