mpi:
  - mpich
  - openmpi

moose_mpi:
  - moose-mpi 2025.04.08

#### Darwin SDK SYSROOT
CONDA_BUILD_SYSROOT:                                        # [osx]
  - /opt/MacOSX13.3.sdk                                     # [osx]

macos_min_version:                                          # [osx]
  - 13.3                                                    # [osx]

macos_machine:                                              # [osx]
  - x86_64-apple-darwin13.4.0                               # [not arm64 and osx]
  - arm64-apple-darwin22.6.0                                # [arm64]

MACOSX_DEPLOYMENT_TARGET:                                   # [osx]
  - 13.3                                                    # [osx]
