/* Materialize */
html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

h1 {
    font-size:250%;
    font-weight:300;
}

h2 {
    font-size:220%;
    font-weight:300;
}

h3 {
    font-size:150%;
    font-weight:300;
}

h4 {
    font-size:120%;
    font-weight:300;
}

p {
    line-height:1rem;
}

.table-of-contents a.active {
    border-left: 2px solid #005897;
}

nav,
.btn,
.btn-large,
footer.page-footer,
.side-nav .collapsible li.active a.active,
.side-nav.fixed .collapsible li.active a.active {
    background-color:#005897;
}

footer.page-footer {
    padding-top:0px;
}

.container{
    width:90%;
}

.side-nav .collapsible ul {
    margin-left:20px;
}

.side-nav .collapsible li.active a.active,
.side-nav.fixed .collapsible li.active a.active {
    color:#fff;
    font-family: sans-serif;
    font-weight:500;
}

.side-nav .collapsible li,
.side-nav.fixed .collapsible li{
    color:#757575;
    font-family: sans-serif;
    font-weight:300;
}

.side-nav .collapsible li.active a,
.side-nav.fixed .collapsible li.active a
{
    color:#757575;
    font-family: sans-serif;
    font-weight:300;
}

.breadcrumb-nav{
    margin-top: 24px;
    padding-left: 12px;
    background-color: transparent;
}

.breadcrumb{
    color:#757575;
    font-family: sans-serif;
    font-weight:300;
}

.breadcrumb:before{
    color:#757575;
}

.breadcrumb:last-child{
    color:#757575;
    font-family: sans-serif;
    font-weight:500;
}

.page-title{
    font-size:x-large;
}

.github-mark-label{
    color:white;
}

.github-mark{
    height: 24px;
    vertical-align: middle;
    padding-bottom: 4px;
    padding-right: 4px;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

/* Class for when element is above threshold */
.pin-top {
    width:220px;
    position: relative;
}

// Class for when element is below threshold
.pin-bottom {
    width:220px;
    position: relative;
}

// Class for when element is pinned
.pinned {
    width:220px;
    position: fixed !important;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
    color: white;
    padding-right: 8px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.moose-caption {
    padding: 5px;
}

/* Slideshows with white backgrounds and captions, need a black drop text shadow */
.carousel-caption {
    text-shadow: 1px 1px 9px rgba(0, 0, 0, 1);
}


/* Admonition */
.admonition-title {
    margin-top:0px;
    font-weight: bold;
    display: block;
    padding: 6px 12px;
    color: #fff;
    margin-bottom: 12px;
    border: 0px solid transparent;
}

.admonition {
    padding: 0px;
    overflow: auto;
    margin-bottom: 20px;
}

.info .admonition-title {
    background: #528452;
}

.admonition > p{
    padding: 6px;
    text-align: left;
}

.admonition.info {
    background: #82e0aa;
    color: #000;
    border: 0px solid transparent;
}

.note .admonition-title {
    background: #3a7296;
}
.admonition.note {
    background: #85c1e9;
    color: #000;
    border: 0px solid transparent;
}

.important .admonition-title {
    background: #b100b0;
}
.admonition.important {
    background: #FF00FF;
    color: #000;
    border: 0px solid transparent;
}

.warning .admonition-title {
    background: #968b2b;
}
.admonition.warning {
    background: #ffec46;
    color: #000;
    border: 0px solid transparent;
}

.danger .admonition-title {
    background: #b14d00;
}
.admonition.danger {
    background: #f75e1d;
    color: #000;
    border: 0px solid transparent;
}

.error .admonition-title {
    background: #940000;
}
.admonition.error {
    background: #ffb4b4;
    color: #000;
    border: 0px solid transparent;
}


/* Slide style */
.reveal h1 {
    font-size: 2em;
}

.reveal h2 {
    font-size: 1.5em;
}

.reveal .slides > section {
  text-align: left;
}


/* MOOSE Build status CSS */
.boxed_job_status_Passed {
    vertical-align: middle;
    text-align: center;
    width: 60px;
    background-color:#A9F5A9;
    box-shadow: 2px 2px 3px #888888;
    display: inline-block
}
.boxed_job_status_Failed {
    vertical-align: middle;
    text-align: center;
    width: 60px;
    background-color:#F5A9A9;
    box-shadow: 2px 2px 3px #888888;
    display: inline-block
}
.boxed_job_status_Running {
    vertical-align: middle;
    text-align: center;
    width: 60px;
    background-color:#F2F5A9;
    box-shadow: 2px 2px 3px #888888;
    display: inline-block
}
.boxed_job_status_Failed_OK {
    vertical-align: middle;
    text-align: center;
    width: 60px;
    background-color:#FAAC58;
    box-shadow: 2px 2px 3px #888888;
    display: inline-block
}
.boxed_job_status_Not_Started {
    vertical-align: middle;
    text-align: center;
    width: 60px;
    background-color:#FFFFFF;
    box-shadow: 2px 2px 3px #888888;
    display: inline-block;
}
.boxed_job_status_Canceled {
    vertical-align: middle;
    text-align: center;
    width: 60px;
    background-color:#CCCCCC;
    box-shadow: 2px 2px 3px #888888;
    display: inline-block;
}
