ins
{
  float: left;
}
.required
{
  color: red;
}
.red
{
  color: red;
  clear: none;
}
#footer
{
  font-style: italic;
  font-size: 0.8em;
}
.jstree a > .jstree-icon
{
  visibility: hidden;
  width: 0px;
  margin-right: -5px;
  margin-left: -5px;
}
#openclose
{
  font-size: 0.8em;
}
