figures/cosserat_elastic_figure_2.pdf filter=lfs diff=lfs merge=lfs -text
figures/lw_mining_graphic.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_10_sideways_disp.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_one_step_extensometer.pdf filter=lfs diff=lfs merge=lfs -text
coal_mining.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_10_sideways_soften_shear.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_no_floor_shear.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_one_step_tensile.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_one_step_disp.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_one_step_shear.pdf filter=lfs diff=lfs merge=lfs -text
figures/model_seup.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_10_downwards_disp.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_10_sideways_soften_disp.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_10_sideways_soften_extensometer.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_10_sideways_soften_subsidence.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_10_sideways_soften_tensile.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_one_step_subsidence.pdf filter=lfs diff=lfs merge=lfs -text
figures/cosserat_elastic_figure_1.pdf filter=lfs diff=lfs merge=lfs -text
figures/cosserat_elastic_figure_3.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_no_floor_disp.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_no_floor_extensometer.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_no_floor_subsidence.pdf filter=lfs diff=lfs merge=lfs -text
figures/wp_only_no_floor_tensile.pdf filter=lfs diff=lfs merge=lfs -text
