mpi:
  - mpich
  - openmpi

mpi_version:
  # MPICH versions
  - 4.2.1    # [linux]
  - 4.3.2    # [osx]
  # OpenMPI versions
  - 5.0.8    # [linux]
  - 5.0.8    # [osx]

mpi_friendly_name:
  - MPICH
  - OpenMPI

mpi_website:
  - http://www.mpich.org/documentation/guides
  - https://www.open-mpi.org/doc/

mpi_dev_website:
  - https://github.com/pmodels/mpich
  - https://github.com/open-mpi/ompi

zip_keys:
  - mpi
  - mpi_version
  - mpi_friendly_name
  - mpi_website
  - mpi_dev_website

moose_hdf5:
  - hdf5 1.14.6         # [linux]
  - hdf5 1.14.6         # [osx]

moose_libexpat:
  - libexpat 2.7.1

### If you change these versions, change also conda/wasp/*, conda/seacas/*
moose_cmake:
  - cmake 4

### If you change these versions, change also conda/wasp/*, conda/seacas/*
moose_cc:
  - gcc 14.3.0 h76bdaa0_7                                   # [linux]
  - clang 19.1.7 default_h1323312_5                         # [not arm64 and osx]
  - clang 19.1.7 default_hf9bcbb7_5                         # [arm64]

### If you change these versions, change also conda/wasps/*, conda/seacas/*
moose_cxx:
  - gxx 14.3.0 he448592_7                                   # [linux]
  - clangxx 19.1.7 default_h1c12a56_5                       # [not arm64 and osx]
  - clangxx 19.1.7 default_h36137df_5                       # [arm64]

### If you change these versions, change also conda/seacas/*
moose_gfortran:
  - gfortran 14.3.0 he448592_7                              # [linux]
  - gfortran 14.3.0 hcc3c99d_0                              # [not arm64 and osx]
  - gfortran 14.3.0 h3ef1dbf_0                              # [arm64]

### Cmake requires these be installed in order to "find" compilers
moose_ccompiler:
  - gcc_linux-64                                            # [linux]
  - clang_osx-64                                            # [not arm64 and osx]
  - clang_osx-arm64                                         # [arm64]

moose_cxxcompiler:
  - gxx_linux-64                                            # [linux]
  - clangxx_osx-64                                          # [not arm64 and osx]
  - clangxx_osx-arm64                                       # [arm64]

moose_libgfortran5:
  - libgfortran5 15.2.0 hcd61629_7                          # [linux]
  - libgfortran5 15.2.0 h336fb69_1                          # [not arm64 and osx]
  - libgfortran5 15.2.0 h742603c_1                          # [arm64]

moose_gcc_impl:                                             # [linux]
  - gcc_impl_linux-64 14.3.0 hd9e9e21_7                     # [linux]

moose_gfortran_impl:                                        # [linux]
  - gfortran_impl_linux-64 14.3.0 h7db7018_7                # [linux]

### Below are pinings created at the time of render
### based on above content. If any of the above
### content changes, modification will be needed below
moose_libstdcxx:                                            # [linux]
  - libstdcxx 15.2.0 h8f9b012_7                             # [linux]

moose_libstdcxx_devel:                                      # [linux]
  - libstdcxx-devel_linux-64 14.3.0 h85bb3a7_107            # [linux]

moose_libcxx:
  - libcxx 21.1.6 ha0f52bf_0                                # [linux]
  - libcxx 21.1.6 h3d58e20_0                                # [not arm64 and osx]
  - libcxx 21.1.6 hf598326_0                                # [arm64]

moose_libzlib:
  - libzlib 1.3.1 hb9d3cd8_2                                # [linux]
  - libzlib 1.3.1 hd23fc13_2                                # [not arm64 and osx]
  - libzlib 1.3.1 h8359307_2                                # [arm64]

moose_icu:
  - icu 75.1 he02047a_0                                     # [linux]
  - icu 75.1 h120a0e1_0                                     # [not arm64 and osx]
  - icu 75.1 hfee45f7_0                                     # [arm64]

moose_cctools:                                              # [osx]
  - cctools_osx-64 1024.3 llvm19_1_h3b512aa_9               # [not arm64 and osx]
  - cctools_osx-arm64 1024.3 llvm19_1_h8c76c84_9            # [arm64]

moose_compiler_rt:                                          # [osx]
  - compiler-rt 19.1.7 he914875_1                           # [not arm64 and osx]
  - compiler-rt 19.1.7 h855ad52_1                           # [arm64]

moose_clang_osx:                                            # [osx]
  - clangxx_osx-64 19.1.7 h7e5c614_25                       # [not arm64 and osx]
  - clang_osx-arm64 19.1.7 h07b0088_25                      # [arm64]

moose_llvm_openmp:                                          # [osx]
  - llvm-openmp 21.1.5 h472b3d1_2                           # [not arm64 and osx]
  - llvm-openmp 21.1.5 h4a912ad_2                           # [arm64]

moose_llvm_tools:                                           # [osx]
  - llvm-tools 19.1.7 hb0207f0_2                            # [not arm64 and osx]
  - llvm-tools 19.1.7 h855ad52_2                            # [arm64]

moose_libclang:
  - libclang-cpp19.1 19.1.7 default_hc369343_5              # [not arm64 and osx]
  - libclang-cpp19.1 19.1.7 default_h73dfc95_5              # [arm64]

#### Darwin SDK SYSROOT
CONDA_BUILD_SYSROOT:                                        # [osx]
  - /opt/MacOSX13.3.sdk                                     # [osx]

macos_min_version:                                          # [osx]
  - 13.3                                                    # [osx]

macos_machine:                                              # [osx]
  - x86_64-apple-darwin13.4.0                               # [not arm64 and osx]
  - arm64-apple-darwin22.6.0                                # [arm64]

MACOSX_DEPLOYMENT_TARGET:                                   # [osx]
  - 13.3                                                    # [osx]
