# {{app}} Software Coding Standard

## Introduction id=introduction

!template field key=introduction required=False
The [!ac](SCS) provides detailed information about the software code practices for {{app}}.
