# {{project}} Software Library List

## Introduction id=introduction

!template field key=intoduction required=False
A software library is defined here as library that is integral to the ability to software being
developed. This document lists libraries that are used by {{project}}.
