:root {
    --alert-error: rgba(153, 0, 0, 1.0);
    --alert-error-content: rgba(153, 0, 0, 0.1);
    --alert-note: rgba(0, 88, 151, 1.0);
    --alert-note-content: rgba(0, 88, 151, 0.1);
    --alert-warning: rgba(255, 255, 51, 1.0);
    --alert-warning-content: rgba(255, 255, 51, 0.1);
    --alert-construction: rgba(255, 114, 33, 1.0);
    --alert-construction-content: rgba(255, 114, 33, 0.1);
}

.moose-alert-title a{
    color:white;
}

.card-content .moose-alert-content img{
    width:auto;
}

/* ALERTS */
.moose-alert .card-content{
  padding:0;
}

.moose-alert .card-content .card-title{
  margin: 0;
  margin-bottom: 0;
}

.moose-alert-title, .moose-alert-content{
  padding:10pt;
}


.moose-alert-error .moose-alert-title{
  color: white;
  background-color: var(--alert-error);
}

.moose-alert-error .moose-alert-content{
  background-color: var(--alert-error-content);
}

.moose-alert-warning .moose-alert-title{
  color: black;
  background-color: var(--alert-warning);
}

.moose-alert-warning .moose-alert-content{
  background-color: var(--alert-warning-content);
}

.moose-alert-note .moose-alert-title{
  color: white;
  background-color: var(--alert-note);
}

.moose-alert-note .moose-alert-content{
  background-color: var(--alert-note-content);
}

.moose-alert-construction .moose-alert-title{
  color: white;
  background-color: var(--alert-construction);
}

.moose-alert-construction .moose-alert-content{
    background-color: var(--alert-construction-content);
    min-height:120px;
}

.moose-alert-construction-img{
    float:left;
    margin-right:10px;
    height:100px;
    width:unset;
}

.card-content .moose-alert-content img
{
    width:unset;
}

.moose-alert-title-brand{
  text-transform: uppercase;
  padding-right: 1ex;
  font-weight: 400;
}

/*
  Set a margin between <p> tags, if two or more paragraphs exist within an alert
 */
.card .card-content p + p
{
  margin-top:5px;
}

.moose-alert{
    box-shadow: none;
}

.moose-alert-title{
    padding-top:6px;
    padding-bottom:6px;
}
