.moose-table-of-contents{
    text-align:center;
}

.moose-source-item{
    font-weight:400;
    margin-top:0;
    margin-bottom: 8px;
}

h1.moose-a-to-z,
h2.moose-a-to-z,
h3.moose-a-to-z,
h4.moose-a-to-z,
h5.moose-a-to-z
h6.moose-a-to-z{
    /*color: var(--inl-blue);*/
    font-size: 200%;
    font-weight: 600;
}

ul.moose-a-to-z{
    margin-top: 0;
    margin-bottom: 0;
}

.moose-a-to-z-button{
    width:2em;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 2px;
    margin-top: 2px;
}

ul.moose-a-to-z a{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.moose-content-next{
  float: right;
  position: relative;
  top: 48px; /* this is the spacing of the h1:first-of-type */
}

.moose-content-previous{
  position: relative;
  top: 48px;
}

/* MOOSE Outline Counters */
ul.moose-outline {
  counter-reset: h1count;
  margin-left: 0;
}
ol.moose-outline-1 {
  counter-reset: h2count;
  list-style-type: none;
}
.moose-outline-1 li::before {
  counter-increment: h1count;
  content: counter(h1count) ".\00a0\00a0\00a0\00a0";
}
ol.moose-outline-2 {
  counter-reset: h3count;
  list-style-type: none;
}
.moose-outline-2 li::before {
  counter-increment: h2count;
  content: counter(h1count) "." counter(h2count) ".\00a0\00a0\00a0\00a0";
}
.moose-outline-3 {
  counter-reset: h4count;
  list-style-type: none;
}
.moose-outline-3 li::before {
  counter-increment: h3count;
  content: counter(h1count) "." counter(h2count) "." counter(h3count) ".\00a0\00a0\00a0\00a0";
}
.moose-outline-4 {
  counter-reset: h5count;
  list-style-type: none;
}
.moose-outline-4 li::before {
  counter-increment: h4count;
  content: counter(h1count) "." counter(h2count) "." counter(h3count) "."
           counter(h4count) ".\00a0\00a0\00a0\00a0";
}
.moose-outline-5 {
  counter-reset: h6count;
  list-style-type: none;
}
.moose-outline-5 li::before {
  counter-increment: h5count;
  content: counter(h1count) "." counter(h2count) "." counter(h3count) "."
           counter(h4count) "." counter(h5count) ".\00a0\00a0\00a0\00a0";
}
.moose-outline-6 {
  list-style-type: none;
}
.moose-outline-6 li::before {
  counter-increment: h6count;
  content: counter(h1count) "." counter(h2count) "." counter(h3count) "."
           counter(h4count) "." counter(h5count) "." counter(h6count) ".\00a0\00a0\00a0\00a0";
}
