.moose-sqa-requirement-number
{
    font-weight: 600;
    margin-right:1ex;
}

.moose-sqa-requirement-number:after{
    content:":";
}

.moose-sqa-requirement-unsatisfied{
    color:red;
}


.moose-sqa-items a:not(:last-child):after{
    content:"; "
}


.moose-sqa-requirements.collection.with-header .collection-header{
    color:white;
    background-color: var(--inl-blue);
    font-size:larger;
    font-weight:100;
}

.moose-sqa-requirements.collection .collection-item{
    display:flex;
}

.moose-sqa-details-list{
    list-style-type:lower-alpha;
}
