.section {
  padding-bottom: 0.5em
}

/* code block are light gray */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    border: 1px solid #666;
    border: 0;
    background-color: #eee;
}

.section {
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 160%;
}

h3 {
  font-size: 130%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

pre.moose-pre {
    background-color: #eee;
}

code[class*="language-"] {
    color: #444;
    text-shadow: none
}

.token.punctuation {
    color: #08080D;
}
/* redefine the little toolbar for code blocks */
pre.code-toolbar:hover > .toolbar {
    opacity: 1;
}

pre.code-toolbar > .toolbar a,
pre.code-toolbar > .toolbar button,
pre.code-toolbar > .toolbar span {
    color: #eee;
    font-size: .8em;
    padding: 0 .5em;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: none;
    border-radius: .5em;
}

pre.code-toolbar > .toolbar a:hover,
pre.code-toolbar > .toolbar a:focus,
pre.code-toolbar > .toolbar button:hover,
pre.code-toolbar > .toolbar button:focus,
pre.code-toolbar > .toolbar span:hover,
pre.code-toolbar > .toolbar span:focus {
    color: #fff;
    text-decoration: none;
}

/* do not highlight the row on mouse hover */
.moose-table-div tr:hover
{
    background: inherit;
}

/* no shadow for bread crumbs */
nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.steps>ol {
    list-style: none;
    counter-reset: li;
    position: relative;
    padding-left: 16px;
}

.steps>ol>li::before {
    content: counter(li);
    counter-increment: li;
    font-weight: 700;
    position: absolute;
    left: 0;
    text-align: right;
    width: 16px;
    color: #AAA;
}

div.alert2 {
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 1em;
  font-size: 87.5%;
}

div.alert2>p {
  margin: 0;
}

div.alert2.note, div.alert2.tip {
  border: 1px solid rgb(41, 137, 211);
  background-color: rgb(225, 243, 256);
}

div.alert2.warning {
  border: 1px solid rgb(191, 53, 54);
  background-color: rgb(252, 236, 234);
}
