{% macro define(item, default=False, optional=False) -%}
{% if hasTemplateItem(item) %}
  {{ insertTemplateContent(caller(False), 'moose-sqa-template-item-header') }}
  {{ getTemplateItem(item) }}
{% elif default %}
  {{ insertTemplateContent(caller(True), 'moose-sqa-template-item-default') }}
{% elif not optional %}
  {{ createHelpElement(item) }}
  {{ insertTemplateContent(caller(True), 'moose-sqa-template-item-description') }}
{% endif %}
{%- endmacro %}
