[build-system]
requires = ["setuptools>=61"]
build-backend = "setuptools.build_meta"


[project]
name = "moose-python"
descriptions = "Python utilities from MOOSE"
version = "__VERSIONER_PYTHON_VERSION__"
